@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 100%;
    margin-top: 10px;
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  
  .comment-div, .upload-div {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .comment-div input, .upload-div input {
    margin-bottom: 10px;
  }
  
  .btn-send {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .btn-send:hover {
    background-color: #0056b3;
  }
  