@tailwind base;
@tailwind components;
@tailwind utilities;

/* Carousel.css */
/* Carousel.css */
.swiper {
    width: 100%;
    max-width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
  }
  